<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
{% if title %}
 <title>{{ title }} - MasterText</title>
{% else %}
  <title> Welcome to Mastertext </title>
{% endif %}
</head>

<body>
  
<div class="navbar"> 
  <a href="/index"> ⭐ Home </a> - 
  <a href="/login"> 🗝️ Login </a>  
   - <a href="/s"> 🔎 Search </a> 
  - <a href="/timeline"> ⏰ Timeline</a>
  - <a href="/create"> 🦸Create </a>
</div>
<hr>
<hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
<div class="app-content"> {% block content %}{% endblock %} </div>
</body>
</html>
