<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

{% if title %}
 <title>{{ title }} - MasterText</title>
{% else %}
  <title> Welcome to Mastertext </title>
{% endif %}
</head>

<body id="top">
  
<div class="sidenav"> 
  <a href="/index"> ⭐ Home </a> <br/> 
  <a href="/s"> 🔎 Search </a> <br/> 
   <a href="/create"> 🦸Create </a><br/>
   <a href="/import"> 🚢 Data Importer</a> <br/>
   <a href="/timeline"> ⏰ Timeline</a> <br/>
   
   
   {% if not current_user.username %}
   <a href="/login"> 🗝️ Login </a> <br/>
   {% else %}
   <a href="/logout"> 🗝️ Logout </a><br/>
   {% endif %}
</div>
<hr>
<hr>
        <main>
          <error-msgs>{% with messages = get_flashed_messages() %}
            {% if messages %}
            <marquee width="60%" direction="up" height="100px">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            </marquee>
            {% endif %}
          </error-msgs>
          {% endwith %}
        <div class="app-content"> 
  {% block content %}{% endblock %} </div> 
</main>
</body>
</html>
