{% extends "base.html" %}
{% block content %}

<h1>Blob Create</h1>


    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.body.label }}<br>
            {{ form.body(cols="80", rows="24") }}
        </p>
        <p>
            Markdown is fully supported<br>
             {% for error in form.body.errors %}
            <span style="color: peru;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <script>
        var simplemde = new SimpleMDE();
        </script>
{% endblock %}