{% extends "base.html" %}
{% block content %}

<h1>Blob Create</h1>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', 
    filename='bower_components/simplemde/dist/simplemde.min.css') }}">
<script src="{{ url_for('static',  filename='bower_components/simplemde/dist/simplemde.min.js') }}">
</script>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.body.label }}<br>
            {{ form.body(cols="80", rows="24") }}
        </p>
        <p>
            Markdown is fully supported<br>
             <strong> TODO No Syntax validation, will crash if on syntax error</strong>
             {% for error in form.body.errors %}
            <span style="color: peru;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <script>
        var simplemde = new SimpleMDE({ element: document.getElementById("body") });
        </script>
{% endblock %}