{% extends "base.html" %}
{% block content %}
<a href="{{url_for('view_document', hashid=docdata.hash)}}"> 🏠 Document Home</a> -
<a href="{{url_for('create_blob', clone=docdata.hash)}}"> 🪴
        Clone 
</a> -
<a href="{{url_for('orig_document', hashid=docdata.hash) }}">📖 View Original</a>
<a href="{{url_for('word_cloud', hashid=docdata.hash) }}"> ☁️ Word Cloud</a>
<hr>
<h1> Wordcloud for {{ docdata.hash }} </h1>

<article>
<div class="cm">
    {% if docdata.img %}
    <img src="data:image/png;base64,{{docdata.img | safe}}"/>
    {% else %}
    <p> Wordcloud is being created</p>
    {% endif %}

    
</div>
</article>
{% endblock %}